.navbar-brand p{
  color: darkslategrey;
}
.list-group-item{
  color: cornflowerblue;
  font-weight: bolder;
}
.active-l{
  background-color: blue;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}